.c-institutions-page {
  &__wrapper {
    margin-top: 2rem;
  }
  &-user {
    display: flex;
    align-items: center;
    background-color: $athens-gray;
    padding: 2rem 2rem 2rem 1.5rem;
    position: relative;
    margin-bottom: 2rem;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
    &__change-img {
      height: 8rem;
      width: 8rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      position: relative;
      overflow: hidden;
      @include media-breakpoint-down(sm) {
        height: 6rem;
        width: 6rem;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
    &__empty-img {
      height: 8rem;
      width: 8rem;
      background-image: url(../../../public/images/tmp_file/institut.jpg);
      background-size: cover;
      background-repeat: no-repeat;
      @include media-breakpoint-down(sm) {
        height: 6rem;
        width: 6rem;
      }
    }
    &__desc {
      display: flex;
      flex-direction: column;
      margin-left: 1.5rem;
      @include media-breakpoint-down(sm) {
        margin-left: 0;
        margin-top: 1.5rem;
      }
    }
    &__name {
      font-size: 1.6rem;
      font-weight: bold;
    }
    &__section {
      color: $rolling-stone;
    }

    .c-edit__wrapper {
      @include media-breakpoint-down(sm) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2rem;
      }
    }
  }
  &__title {
    font-size: 1.4rem;
    font-weight: bold;
    margin-bottom: 1.5rem;
  }
  &__nav {
    margin-top: 3rem;
  }
  &-lead {
    display: flex;
    align-items: center;
    background-color: $athens-gray;
    padding: 2rem;
    position: relative;
    margin-bottom: 1rem;
    @include media-breakpoint-down(sm) {
      flex-direction: column;
      align-items: flex-start;
    }
    &__change-img {
      height: 6rem;
      width: 6rem;
      border-radius: 50%;
      display: flex;
      justify-content: center;
      align-items: center;
      flex-shrink: 0;
      position: relative;
      overflow: hidden;
      @include media-breakpoint-down(sm) {
        height: 5rem;
        width: 5rem;
      }
      img {
        height: 100%;
        width: 100%;
      }
    }
    &__desc {
      display: flex;
      flex-direction: column;
      margin-left: 1.5rem;
      @include media-breakpoint-down(sm) {
        margin-left: 0;
        margin-top: 1.5rem;
      }
    }
    &__name {
      font-size: 1.4rem;
      font-weight: bold;
    }
    &__section {
      color: $rolling-stone;
      font-size: 1.4rem;
      font-weight: 400;
    }

    .c-edit__wrapper {
      @include media-breakpoint-down(sm) {
        position: absolute;
        top: 50%;
        transform: translateY(-50%);
        right: 2rem;
      }
    }
  }
  &-info {
    background-color: $athens-gray;
    padding: 2rem;
    &__list {
      display: flex;
      flex-direction: column;
    }
    &__item {
      margin-bottom: .8rem;
      display: flex;
      &:first-child{
        margin-bottom: 1.7rem;
      }
    }
    &__title {
      display: inline-block;
      width: 8rem;
      margin-right: 2rem;
      color: $rolling-stone;
      flex-shrink: 0;
    }
    &__desc {
      line-height: 1.9rem;
    }
  }
  &__modals {
    display: flex;
    justify-content: flex-end;
    .e-btn--plus {
      max-width: 100%;
      padding: 0.8rem 1.5rem 0.8rem 3.2rem;
      margin-right: 0;
    }
  }
  &__lists {
    margin-top: 1rem;
  }
}