.c-modal-add-admin {
  .modal__title {
    letter-spacing: -0.1px;
  }
  &__wrapper {
    padding: 5.5rem 16rem 9.2rem;
  }
  &__form {
    margin-top: 3.5rem;
  }
  &__btn {
    margin-top: 1rem;
  }
}
