.c-modal-child-info {
  &__wrapper {
    padding: 4.5rem 16rem 9rem;
    @include media-breakpoint-down(md) {
      padding: 4rem;
    }
    @include media-breakpoint-down(xs) {
      padding: 2rem;
    }
  }
  &__form {
    margin-top: 4rem;
    .e-btn--md {
      margin-top: 2rem;
      @include media-breakpoint-down(md) {
        width: 100%;
        max-width: 100%;
        min-width: auto;
      }
    }
    .c-multiselect {
      margin-bottom: 2rem;
    }
    .c-select , .c-multiselect{
      min-width: auto;
    }
  }
}